# API Endpoints
AUTH_API_URL=http://localhost:8081/api/auth
PROFILE_API_URL=http://localhost:8082/api/users
DUMMY_JSON_API_URL=https://dummyjson.com
DOG_API_URL=https://dog.ceo/api

# Production URLs (update these for production deployment)
# AUTH_API_URL=https://your-production-auth-api.com/api/auth
# PROFILE_API_URL=https://your-production-profile-api.com/api/users
# DUMMY_JSON_API_URL=https://dummyjson.com
# DOG_API_URL=https://dog.ceo/api
